{% extends "layout.html" %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/residents.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="main_table">
    <h1>Star Wars universe planets</h1>

    <a href="/{{ prev[-1] if prev}}">
        <button id="previous" type="button" class="btn btn-primary" {{ 'disabled' if not prev }}>Previous</button>
    </a>
    <a href="/{{ nextt[-1] if nextt }}">
        <button id="next" type="button" class="btn btn-primary" {{ 'disabled' if not nextt }}>Next</button>
    </a>

    <table class="table">
        <thead class="thead-dark">
            <tr>
            {% for key in planets[0] %}
                <th>{{ key }}</th>
            {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for planet in planets %}
            <tr>
            {% for key, item in planet.items() %}
                {% set measure = {'Diameter':' km', 'Surface water':'%', 'Population':' people'} %}
                {% if key == 'Residents' %}
                    <td>
                    {% if item|length == 0 %}
                        No known residents
                    {% else %}
                         <button
                                 type="button" id="{{ planet['Name'] }}"
                                 onclick="residents(this.id)"
                                 class="btn btn-primary" data-toggle="modal"
                                 data-target="#ModalScrollable">{{ item|length }} resident(s)
                         </button>
                    {% endif %}
                    </td>
                {% else %}
                    <td>{{ item }}{{ measure[key] if key in measure and item != 'unknown' }}</td>
                {% endif %}
            {% endfor %}
                <td>
                <button type="button" class="btn btn-success" id="vote-{{ planet['Name'] }}" {{ 'disabled' if not user }}>
                    Vote
                </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalScrollable" tabindex="-1" role="dialog"
     aria-labelledby="ModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalScrollableTitle"><!-- here script enters window title --></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="ModalBody">
                        <!-- here script enters table rows -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
{% endblock %}